<!DOCTYPE html>
<head>
  <title>Try LambdaPiPlus!</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="tryps.css">
  <link rel="stylesheet" type="text/css" href="codemirror.css">
  <script language="javascript" src="codemirror.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
</head>
<html>
  <body>
   {{ content }}
  </body>
</html>
--></script>
<script language="javascript">
if (navigator.userAgent.match(/iPad;.*CPU.*OS 7_\d/i)) {
  document.getElementsByTagName("html")[0].style.height = window.innerHeight +"px !important";
}
</script>
<script language="javascript" src="all.min.js"></script>
</body>
</html>
