<!DOCTYPE html>
<head>
  <style>
    #section {
    width:750px;
    float:left;
    padding:10px;
}
  </style>
  <title>Try LambdaPiPlus!</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="tryps.css">
</head>
<html>
  <body>
    <div id="topbar">
      <ul>
        <li><a class="active" href="#"><b>LambdaPiPlus  </b></a></li>
        <li></li>
        <li><a href="http://lambda-pi-plus.github.io">Try!</a></li>
        <li><a href="about">About</a></li>
        <li><a href="syntax">Syntax</a></li>
        <li><a href="prelude">Prelude</a></li>
      </ul>
    </div>
    <div id = "section">
      {{ content }}
    </div>

  </body>
</html>
